<div id="explanation">
	<h4>How #Donate works</h4>
	<ol>
		<li>Sign in via Twitter  <img class="visible-desktop" src="/img/twitter_logo.png" height="20"></li>
		<li>Link your PayPal account  <img class="visible-desktop" src="/img/paypal_logo.png" height="20"></li>
		<li>Start donating!</li>				
	</ol>
	<h4 class="bottom">#donate @recipient $amount</h4>
</div>