<% pagename = 'faq' %>

<div>
	<h3>How do I donate?</h3>
	<p>To donate on Twitter use tweet syntax like "#donate @recipient $amount" or simply retweet a fundraising tweet. If you have signed up for PoundDonate a PayPal transaction will occur immediately. If you have not signed up for PoundDonate you will receive a mention from the account you donated to asking you to signup to complete your donation. Our <a href="/donate">Donate</a> page lists many Twitter accounts you can donate to if you are in a giving mood!</p>


</div>